html {
    font-size: 25px;
    line-height: 1.2;
    background-color: snow;
}
body {
    padding: 0;
    margin: 0;
}
.narrow {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
.wide {
    max-width: 1500px;
    margin: 0 auto;
}
img {
    width: 100%;
}
img#sketch {
    width: 100%;
    max-width: 500px;
}
ul#humans {
    list-style-type: none;
    padding-left: 20px;
}
ul#humans li {
    margin-bottom: 5px;
}
ul#humans img {
    max-height: 20px;
    width: 20px;
    height: 20px;
    background-color: green;
    border: 0;
}
.table-responsive {
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 20px;
}
.table-responsive table {
    min-width: 700px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
td p:first-child {
    margin-top: 0;
}

.avatar {
    display: inline-block   ;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
}
.chia {
    background-color: rgb(0, 145, 255);
}
.elliott {
    background-color: purple;
}
.kristoffer {
    background-color: orange;
}
.jisu {
    background-color: snow;
}
.matt {
    background-color: lavender;
}

@media (max-width: 700px) {
    html {
        font-size: 18px;
        line-height: 1.2;
    }
    .table-responsive {
        margin: 0;
    }
    .table-responsive table {
        margin: 20px;
    }
}