html {
    font-size: 25px;
    line-height: 1.2;
    background-color: snow;
}
body {
    padding: 0;
    margin: 0;
}
.narrow {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
.wide {
    max-width: 1500px;
    margin: 0 auto;
}
img {
    width: 100%;
}
img#sketch {
    width: 100%;
    max-width: 500px;
}
ul#humans {
    list-style-type: none;
    padding-left: 20px;
}
ul#humans li {
    margin-bottom: 5px;
}
ul#humans li .avatar {
    cursor: pointer;
}
ul#humans li .avatar:hover {
    filter: blur(2px);
    /* transform: scale(1.1); */
}
ul#humans img {
    max-height: 20px;
    width: 20px;
    height: 20px;
    background-color: green;
    border: 0;
}
.table-responsive {
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 20px;
}
.table-responsive table {
    min-width: 580px;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: snow;
}
th, td {
    border: 1px solid #00000029;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
td p:first-child {
    margin-top: 0;
}

.avatar {
    display: inline-block   ;
    width: 20px;
    height: 20px;
    border: 1px solid #00000029;
}
.chia {
    background-color: rgb(0, 145, 255);
}
.elliott {
    background-color: purple;
}
.kristoffer {
    background-color: orange;
}
.jisu {
    background-color: snow;
}
.matt {
    background-color: lavender;
}

@media (max-width: 700px) {
    html {
        font-size: 18px;
        line-height: 1.2;
    }
    .table-container {
        /* padding-right: 20px; */
    }
    .table-responsive {
        margin: 0;
        padding-left: 20px;
        padding-right: 0;
        display: flex;
    }
    .table-responsive table {
        margin: 0;
        flex: 0 0 auto;
    }
    .table-responsive::after {
        content: "";
        flex: 0 0 20px;
    }
    .table-responsive table th:first-child,
    .table-responsive table td:first-child {
        max-width: 150px;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}